{% extends "base.twig" %}

{% block title %}
    {% if distributor.Id %}
        Edit Distributor
    {% else %}
        New Distributor
    {% endif %}
{% endblock %}
{% block body %}
    <h1>
        {% if distributor.Id %}
            Edit Distributor
        {% else %}
            New Distributor
        {% endif %}
    </h1>
    {{ form(form) }}
{% endblock %}